:root {
    --main-brand-color: #5343C2; 
}

#checkout-main-content {
    max-width: 1000px;
    margin: 0 auto;
}

.bg-purple {
    background-color: var(--main-brand-color) !important;
}

.text-purple {
    color: var(--main-brand-color) !important;
}

.border-purple {
    border-color: var(--main-brand-color) !important;
}

.step-circle {
    width: 40px;
    height: 40px;
}

.step-line {
    position: absolute;
    top: 40px;
    bottom: -20px;
    left: 35px;
    width: 1px;
    border-left: 2px dashed #E0E0E0;
    z-index: 0;
}

.custom-radio:checked {
    background-color: var(--main-brand-color) !important;
    border-color: var(--main-brand-color) !important;
}

.custom-radio:focus {
    box-shadow: 0 0 0 0.25rem rgba(83, 67, 194, 0.25) !important;
    border-color: var(--main-brand-color) !important;
}

.form-control:focus, .form-select:focus {
    border-color: var(--main-brand-color) !important;
    box-shadow: 0 0 0 0.25rem rgba(83, 67, 194, 0.25) !important;
}